@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Clicker+Script&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightColor: #F6E9ED;
  --darkColor: #5B2333;
}

body {
  font-family: 'Arapey', serif;
  color: var(--darkColor);
  background: var(--lightColor);
}

a:link, a:visited {
  color: var(--darkColor);
}

ul {
  display: flex;
  flex-direction: row;
}

.hello {
  font-size: 1.4rem;
}

.joumana {  
  font-family: 'Clicker Script', cursive;
  font-size: 7rem;
}

.intro {
  font-size: 1.6rem;
  padding: 2rem;
}

.socials {
  display: flex;
  flex-direction: row;
  padding-top: .5rem;
}

.socials>a::after, .menu-bars::after {
  background: none;
}

.socials>a:hover, .logo>a:hover {
  transition: opacity 300ms ease-in-out;
  opacity: .5;
}

.nav-grid {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  font-size: 1.6rem;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding-left: 1.4rem;
  text-decoration: none;
  list-style-type: none;
}

a {
	display: block;
	position: relative;
	padding: 0.5em 0;
}

a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10px;
	width: 100%;
	height: 0.4em;
	background-color: var(--darkColor);
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

li>a::after {
	opacity: 1;
	transform: scale(0);
}

li>a:hover::after,
li>a:focus::after{
	transform: scale(.8);
}

@media only screen and (min-width: 901px) {
  .landing-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(240px, 1fr));
    grid-template-areas:
      ". . nav nav"
      ". left right .";
  }
  .left { 
    grid-area: left;
    padding-right: 1.6rem;
   }
  
  .right { 
    grid-area: right;
  }
  
  .right, .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu-bars {
    display: none;
  }

  .intro-img {
    width: 480px;
  }
}

@media only screen and (max-width: 1500px) {
  .landing-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "nav"
    "left left right";
    padding: 4rem;
  }
  .hello {
    padding-top: 4rem;
  }
  .hello, .intro, .joumana, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hello>i {
    border-right: solid 3px var(--darkColor);
    white-space: nowrap;
    overflow: hidden;    
    font-family: monospace;
    margin: 0 auto;
  }

  .hello>i {
    animation: animated-text 3s steps(29,end) 1s 1 normal both,
      animated-cursor 500ms steps(29,end) infinite;
  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 240px;}
  }

  @keyframes animated-cursor{
    from{border-right-color: var(--darkColor);}
    to{border-right-color: transparent;}
  }

  .joumana {
    animation: fadeIn 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  .intro {
    animation: fadeIn 5s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
      visibility: hidden;
    }
    100% {
      opacity:1;
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 900px) {
  .landing-grid {
    padding: 2rem;
  }
  .hello {
    padding-top: 2rem;
  }
  .intro-img {
    max-width: 100%;
  }
  .logo {
    display: none;
  }
  .nav-menu {
    display: grid;
    grid-area: mobile;
    background: var(--lightColor);
    border-right: 1px solid var(--darkColor);
    border-bottom: 1px solid var(--darkColor);
    top: 0;
    left: -100%;
    transition: 850ms;
    padding: 0 2rem;
    position: fixed;
    z-index: 2;
  }
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  .nav-links {
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-bottom: .5rem;
    padding-top: 1rem;
  }
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
  }
  .landing-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "mobile"
    "left left right";
  }
}

/* .svg-container {
  width: auto;
}

.recent-projects {
  background-color: #F8E8F8;
  width: 100%;
  height: 100%;
  position: absolute;
} */