@import url("https://fonts.googleapis.com/css2?family=Karla&family=Arapey:ital@0;1&family=Clicker+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightColor: #F6E9ED;
  --darkColor: #5B2333;
}

body {
  font-family: "Karla", Verdana, sans-serif;
  color: var(--darkColor);
  background-color: var(--lightColor);
  background-image: radial-gradient( circle farthest-corner at 5.3% 17.2%,  rgba(237,216,255,1) 0%, rgba(255,237,216,1) 90% );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-moz-selection {
  background: var(--darkColor); 
  color: var(--lightColor);
}
::selection {
  background: var(--darkColor);
  color: var(--lightColor);
}

p {
  font-family: "Karla", Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.8rem;
  padding: 1.4rem 0;
}

h1 {
  padding-top: 2rem;
  font-size: 2.4rem;
}

section {
  padding-bottom: 4rem;
}

a:link, a:visited, a:active {
  color: var(--darkColor);
}

ul {
  display: flex;
  flex-direction: row;
}

.hello {
  font-size: 1.4rem;
}

.joumana {  
  font-family: "Clicker Script", cursive;
  font-size: 7rem;
  display: flex;
  justify-content: center;
}

.intro {
  font-size: 1.4rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-img {
  max-width: 100%;
  box-shadow: 3rem 3rem var(--lightColor), -2rem -2rem rgba(255,237,216,1);
}

.logo img {
  height: 90px;
  padding-right: 1rem;
}

.icon-link {
  display: flex;
  margin: .5rem 0.2rem 1rem 0;
}

.icon-link>a::after, .menu-bars::after, .menu-exit::after, .logo::after {
  background: none;
}

.icon-link>a:hover, .logo>a:hover {
  opacity: .5;
}

.nav-grid {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.nav-links {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.nav-links a:hover {
  color: var(--darkColor);
  background: #edd8ff;
  opacity: .8;
}

a {
	display: block;
	position: relative;
  transition: all .4s ease;
}

li>a::after {
	opacity: 1;
	transform: scale(0);
}

li>a:hover::after,
li>a:focus::after{
	transform: scale(.5);
}

.card {
  border-radius: .4rem .4rem .5rem .5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 7rem;
}
.card-content {
  padding: 2rem;
  background: rgba(237,216,255,.7)
}

@media only screen and (min-width: 901px) {
  .main-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-template-rows: repeat(3, minmax(240px, 1fr));
    grid-template-areas:
      ". . nav ."
      ". left right .";
  }
  .left { 
    grid-area: left;
    padding-right: 2rem;
   }
  .right { 
    grid-area: right;
  }
  .right, .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu-bars, .menu-exit {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .card {
    margin: 6rem 12rem;
  }
}

@media only screen and (max-width: 1500px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 4rem;
  }
  .hello, .intro, .joumana, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .main-grid {
    padding: 2rem;
  }
  .hello {
    padding-top: 2rem;
  }
  .logo img {
    padding-top: 1.2rem;
  }
  .nav-menu {
    display: grid;
    grid-area: mobile;
    padding-bottom: 20px;
    background: var(--lightColor);
    border-right: 1px solid var(--darkColor);
    border-bottom: 1px solid var(--darkColor);
    top: 0;
    left: -100%;
    transition: 850ms;
    position: fixed;
    z-index: 2;
    background-image: radial-gradient( circle farthest-corner at 5.3% 17.2%,  rgba(237,216,255,1) 0%, rgba(255,237,216,1) 90% );
  }
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  .nav-links {
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "mobile"
    "left left right";
  }
  .card{
    margin: 4rem 0;
  }
}